
<table width=780 border=0 cellpadding=7 cellspacing=2>
    <tr align=center>
                    <td width="50%">
					
            <div class="twPc-div col-sm-6 col-md-6 col-xs-6" style="background-color: white;">
			
            <a class="twPc-bg twPc-block"></a>
            <div>
		
                <a class="twPc-avatarLink">
                                    <img alt="academ" src="/Iregister/web/upload/person/media/2210.jpeg" width="140px" class="passportPicture"
                        style="border-radius: 50%;"/><br><br><div><img src="/Iregister/web/images/logo_education.png" height="45px" style="margin-bottom: -20px;" /></div><br>
						
								
                                </a>
                              
                <div class="column">
				
                    <table style="margin-left:107px; color: black;">
	<tr><td colspan="2"><center><b><p style="margin-top: -65px;  font-size: 16px; ">TITLE OF THE CARD</p></b></center>
				</td></tr>
                <tr><td colspan="2"><center><b><p style="margin-top: -45px; font-size: 12px; ">SUB-TITLE OF THE CARD</p></b></center>
				</td></tr>
                        <tr>

                            <td>
							
							CARD ID</td>
                            <td><img src="/Iregister/web/images/logo_education.png" width="45px" style="margin-top: -45px;margin-left: 120px;"/><br>
							<div  style="margin-left: 120px; font-size: 8px">Add your text</div></td>
                        </tr>
                        <br>
                        <tr style="color: #ba2020; font-size: 13.5px;">
                                <td></td>
                        </tr>
                        <tr>
                            <td><b></b></td><td><b></b></td>
                        </tr>
                        <br>
                                                    <tr>
                                <td><b>Nom(s):</b></td><td>OPEGAO</td>
                            </tr>
                            <tr>
                                <td><b>Prénom(s):</b></td><td>Veronique</td>
                            </tr>
                            <tr>
                                <td><b>Né le:</b></td><td> 12/12/1998 a Sobo</td>
                            </tr>
                            <tr>
                                                                    <tr>
                                        <td><b>Fille de:</b></td><td> Veronique OPEGAO</td>
                                    </tr>
                                                                <tr>
                                    <td><b>Et de:</b></td><td> Veronique OPEGAO</td>
                                </tr>
                                <tr>
                                    <td><b>Nationalité:</b></td><td> Centrafricaine</td>
                                </tr>
                                <tr>
                                    <td><b>Adrs parents:</b></td><td> SECTEUR 4 - Bambari</td>
                                </tr>
                            </tr>
                            <tr>
                                <td><b>Inscrit(e) en: </b></td><td> 3em A</td>
                            </tr>
                            <tr>
                                <td><b>#ID:</b></td><td>1298</td>
                            </tr>
							
						
                           
                            
                                                                    </table>
																	
                </div>
                        <br>
                <div class="twPc-divUser">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    
                    
                </div>
            </div>
            </div>
        </td>
                    <td width="50%">
            <div class="twPc-div col-sm-6 col-md-6 col-xs-6" style="background-color: white;">
            <a class="twPc-bg twPc-block"></a>
            <div>
                <a class="twPc-avatarLink">
                                    <img alt="academ" src="/Iregister/web/upload/person/media/2211.jpeg" width="140px" class="passportPicture"
                        style="border-radius: 50%;"/><br><br><div><img src="/Iregister/web/images/logo_education.png" height="45px" style="margin-bottom: -20px;" /></div><br>
                                </a>
                <div class="column">
                    <table style="margin-left:107px; color: black;">
					<tr><td colspan="2"><center><b><p style="margin-top: -65px;  font-size: 16px; ">TITLE OF THE CARD</p></b></center>
				</td></tr>
                <tr><td colspan="2"><center><b><p style="margin-top: -45px; font-size: 12px; ">SUB-TITLE OF THE CARD</p></b></center>
				</td></tr>
                        <tr>
                            <td>CARD ID</td>
                            <td><img src="/Iregister/web/images/logo_education.png" width="45px" style="margin-top: -45px;margin-left: 120px;"/><br>
							<div  style="margin-left: 120px; font-size: 8px">Add your text</div>
			            </td>
							
                        </tr>
						
                        <br>
                        <tr style="color: #ba2020; font-size: 13.5px;">
                                <td></td>
                        </tr>
                        <tr>
                            <td><b></b></td><td><b></b></td>
                        </tr>
                        <br>
                                                    <tr>
                                <td><b>Nom(s):</b></td><td>TENGUIA</td>
                            </tr>
                            <tr>
                                <td><b>Prénom(s):</b></td><td>Pamela</td>
                            </tr>
                            <tr>
                                <td><b>Né le:</b></td><td> 12/12/1998 a Ndjia</td>
                            </tr>
                            <tr>
                                                                    <tr>
                                        <td><b>Fils de:</b></td><td> Pamela TENGUIA</td>
                                    </tr>
                                                                <tr>
                                    <td><b>Et de:</b></td><td> Pamela TENGUIA</td>
                                </tr>
                                <tr>
                                    <td><b>Nationalité:</b></td><td> Centrafricaine</td>
                                </tr>
                                <tr>
                                    <td><b>Adrs parents:</b></td><td> SECTEUR 4 - Bambari</td>
                                </tr>
                            </tr>
                            <tr>
                                <td><b>Inscrit(e) en: </b></td><td> 3em A</td>
                            </tr>
                            <tr>
                                <td><b>#ID:</b></td><td>1299</td>
                            </tr>
                           
                            
                                                                    </table>
                </div>
                        <br>
                <div class="twPc-divUser">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    
                    
                </div>
            </div>
            </div>
        </td>
            </tr>
    <tr align=center>
                    <td width="50%">
            <div class="twPc-div col-sm-6 col-md-6 col-xs-6" style="background-color: white;">
            <a class="twPc-bg twPc-block"></a>
            <div>
                <a class="twPc-avatarLink">
                                    <img alt="academ" src="/Iregister/web/upload/person/media/2212.jpeg" width="140px" class="passportPicture"
                        style="border-radius: 50%;"/><br><br><div><img src="/Iregister/web/images/logo_education.png" height="45px" style="margin-bottom: -20px;" /></div><br>
                                </a>
                <div class="column">
                    <table style="margin-left:107px; color: black;">
					<tr><td colspan="2"><center><b><p style="margin-top: -65px;  font-size: 16px; ">TITLE OF THE CARD</p></b></center>
				</td></tr>
                <tr><td colspan="2"><center><b><p style="margin-top: -45px; font-size: 12px; ">SUB-TITLE OF THE CARD</p></b></center>
				</td></tr>
                        <tr>
                            <td>CARD ID</td>
                            <td><img src="/Iregister/web/images/logo_education.png" width="45px" style="margin-top: -45px;margin-left: 120px;"/><br>
							<div  style="margin-left: 120px; font-size: 8px">Add your text</div></td>
                        </tr>
                        <br>
                        <tr style="color: #ba2020; font-size: 13.5px;">
                                <td></td>
                        </tr>
                        <tr>
                            <td><b></b></td><td><b></b></td>
                        </tr>
                        <br>
                                                    <tr>
                                <td><b>Nom(s):</b></td><td>ZO NA ITA</td>
                            </tr>
                            <tr>
                                <td><b>Prénom(s):</b></td><td>Rose</td>
                            </tr>
                            <tr>
                                <td><b>Né le:</b></td><td> 12/12/1998 a Sapeke</td>
                            </tr>
                            <tr>
                                                                    <tr>
                                        <td><b>Fille de:</b></td><td> Rose ZO NA ITA</td>
                                    </tr>
                                                                <tr>
                                    <td><b>Et de:</b></td><td> Rose ZO NA ITA</td>
                                </tr>
                                <tr>
                                    <td><b>Nationalité:</b></td><td> Centrafricaine</td>
                                </tr>
                                <tr>
                                    <td><b>Adrs parents:</b></td><td> SECTEUR 4 - Bambari</td>
                                </tr>
                            </tr>
                            <tr>
                                <td><b>Inscrit(e) en: </b></td><td> 3em A</td>
                            </tr>
                            <tr>
                                <td><b>#ID:</b></td><td>1300</td>
                            </tr>
                           
                            
                                                                    </table>
                </div>
                        <br>
                <div class="twPc-divUser">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    
                    
                </div>
            </div>
            </div>
        </td>
                    <td width="50%">
            <div class="twPc-div col-sm-6 col-md-6 col-xs-6" style="background-color: white;">
            <a class="twPc-bg twPc-block"></a>
            <div>
                <a class="twPc-avatarLink">
                                    <img alt="academ" src="/Iregister/web/upload/person/media/2213.jpeg" width="140px" class="passportPicture"
                        style="border-radius: 50%;"/><br><br><div><img src="/Iregister/web/images/logo_education.png" height="45px" style="margin-bottom: -20px;" /></div><br>
                                </a>
                <div class="column">
                    <table style="margin-left:107px; color: black;">
					<tr><td colspan="2"><center><b><p style="margin-top: -65px;  font-size: 16px; ">TITLE OF THE CARD</p></b></center>
				</td></tr>
                <tr><td colspan="2"><center><b><p style="margin-top: -45px; font-size: 12px; ">SUB-TITLE OF THE CARD</p></b></center>
				</td></tr>
                        <tr>
                            <td>CARD ID</td>
                            <td><img src="/Iregister/web/images/logo_education.png" width="45px" style="margin-top: -45px;margin-left: 120px;"/><br>
							<div  style="margin-left: 120px; font-size: 8px">Add your text</div></td>
                        </tr>
                        <br>
                        <tr style="color: #ba2020; font-size: 13.5px;">
                                <td></td>
                        </tr>
                        <tr>
                            <td><b></b></td><td><b></b></td>
                        </tr>
                        <br>
                                                    <tr>
                                <td><b>Nom(s):</b></td><td>ZOUNGBADJA</td>
                            </tr>
                            <tr>
                                <td><b>Prénom(s):</b></td><td>Rosalie</td>
                            </tr>
                            <tr>
                                <td><b>Né le:</b></td><td> 12/12/1998 a Sapeke</td>
                            </tr>
                            <tr>
                                                                    <tr>
                                        <td><b>Fille de:</b></td><td> Rosalie ZOUNGBADJA</td>
                                    </tr>
                                                                <tr>
                                    <td><b>Et de:</b></td><td> Rosalie ZOUNGBADJA</td>
                                </tr>
                                <tr>
                                    <td><b>Nationalité:</b></td><td> Centrafricaine</td>
                                </tr>
                                <tr>
                                    <td><b>Adrs parents:</b></td><td> SECTEUR 4 - Bambari</td>
                                </tr>
                            </tr>
                            <tr>
                                <td><b>Inscrit(e) en: </b></td><td> 3em A</td>
                            </tr>
                            <tr>
                                <td><b>#ID:</b></td><td>1301</td>
                            </tr>
                           
                            
                                                                    </table>
                </div>
                        <br>
                <div class="twPc-divUser">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    
                    
                </div>
            </div>
            </div>
        </td>
            </tr>
    <tr align=center>
                    <td width="50%">
					<div class="page-break"></div>
						<br>
						<br>
						<br>
            <div class="twPc-div col-sm-6 col-md-6 col-xs-6" style="background-color: white;">
            <a class="twPc-bg twPc-block"></a>
            <div>
                <a class="twPc-avatarLink">
                                    <img alt="academ" src="/Iregister/web/upload/person/media/2214.jpeg" width="140px" class="passportPicture"
                        style="border-radius: 50%;"/><br><br><div><img src="/Iregister/web/images/logo_education.png" height="45px" style="margin-bottom: -20px;" /></div><br>
                                </a>
                <div class="column">
                    <table style="margin-left:107px; color: black;">
					<tr><td colspan="2"><center><b><p style="margin-top: -65px;  font-size: 16px; ">TITLE OF THE CARD</p></b></center>
				</td></tr>
                <tr><td colspan="2"><center><b><p style="margin-top: -45px; font-size: 12px; ">SUB-TITLE OF THE CARD</p></b></center>
				</td></tr>
                        <tr>
                            <td>CARD ID</td>
                            <td><img src="/Iregister/web/images/logo_education.png" width="45px" style="margin-top: -45px;margin-left: 120px;"/><br>
							<div  style="margin-left: 120px; font-size: 8px">Add your text</div></td>
                        </tr>
                        <br>
                        <tr style="color: #ba2020; font-size: 13.5px;">
                                <td></td>
                        </tr>
                        <tr>
                            <td><b></b></td><td><b></b></td>
                        </tr>
                        <br>
                                                    <tr>
                                <td><b>Nom(s):</b></td><td>ZOUNGOU</td>
                            </tr>
                            <tr>
                                <td><b>Prénom(s):</b></td><td>Julienne</td>
                            </tr>
                            <tr>
                                <td><b>Né le:</b></td><td> 12/12/1998 a Sapeke</td>
                            </tr>
                            <tr>
                                                                    <tr>
                                        <td><b>Fille de:</b></td><td> Julienne ZOUNGOU</td>
                                    </tr>
                                                                <tr>
                                    <td><b>Et de:</b></td><td> Julienne ZOUNGOU</td>
                                </tr>
                                <tr>
                                    <td><b>Nationalité:</b></td><td> Centrafricaine</td>
                                </tr>
                                <tr>
                                    <td><b>Adrs parents:</b></td><td> SECTEUR 4 - Bambari</td>
                                </tr>
                            </tr>
                            <tr>
                                <td><b>Inscrit(e) en: </b></td><td> 3em A</td>
                            </tr>
                            <tr>
                                <td><b>#ID:</b></td><td>1302</td>
                            </tr>
                           
                            
                                                                    </table>
                </div>
                        <br>
                <div class="twPc-divUser">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    
                    
                </div>
            </div>
            </div>
        </td>
            </tr>
</table>

<style>
    
    @media print{
        body {-webkit-print-color-adjust: exact;};
    }
    
    .twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 2px solid gray;
    border-radius: 16px;
    height: 310px;
    width: 445px;
    max-width: 455px;
    margin-top: -10px;
    margin-bottom: 11px;
    
}
.twPc-bg {
    //background-image: url("/Iregister/web/images/bg1.png");
    background-position: 0 50%;
    background-size: 100% auto;
    //border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 95px;
    width: 50%;
}
.twPc-block {
    display: block !important;
}
.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.twPc-avatarLink {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block !important;
    float: left;
    margin: -89px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.twPc-divUser {
    margin: 5px 0 0;
}
.twPc-divName {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.twPc-divName a {
    color: inherit !important;
}
.twPc-divStats {
    margin-left: 11px;
    padding: 10px 0;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.twPc-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}

.column {
     width:-50px;
     float:left;
     margin: -180px 5px 0 8px;
     margin-left: 50px;
}
.page-break {
            page-break-after: always;
        }
.bottomelement {
  position: absolute;
  bottom: 4px;
  left: 6px;
  font-size: 8px;
}
</style>
<script>
    window.print();
</script>