


<table width=780 border=2 cellpadding=13 cellspacing=1>
{% for student in students %}
{% for i in 1..12 %}
<tr align=center>
    {% for j in 1..5 %}
        <td width="25%">
            <img src="data:image/png;base64, {{ student.barcode }}" width="120px"/>
            <b>{{ student.name|slice(0, 11) }}</b>
            <br>
            {% if student.section is not empty %}
                ( {{ student.section.name }} )
            {% else %}
                    (No Section)
            {% endif %}
            
        </td>
    {% endfor %}
</tr>
{% endfor %}
{% endfor %}
</table>

<style>
    table.print-friendly tr td, table.print-friendly tr th {
        page-break-inside: avoid;
    }
</style>